@use '../../styles/vars';

.app {
  width: 100%;
  color: vars.$text-color; 
  background-color: vars.$background-color;
  min-height: 100vh;
}

.btn {
  align-items: center;
  justify-content: center;
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-sizing: border-box;
  cursor: pointer;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;

  &:hover {
    transform: translateY(-1px);
  }
}

.btn-primary {
  background-color: vars.$primary-color;
  color: vars.$text-color;
  font-weight: 600;
  box-shadow: vars.$background-color 0 1px 3px 0;

  &:hover {
    filter: brightness(0.6);
  }
}

.btn-secondary {
  background-color: vars.$background-color;
  color: vars.$text-color;
  font-weight: 400;
  box-shadow: vars.$primary-color 0 0 3px 1px;

  &:hover {
    background-color: vars.$primary-color;
  }
}
