@use '../../../styles/vars';

.cardContainer {
  position: relative;
  height: 100%;
  color: vars.$text-color;
  background-color: vars.$dark-color;
  transition: visibility 0s, opacity 0.5s linear;
  margin-bottom: 1em;

  .title {
    z-index: 1;
    color: vars.$primary-color;
    &:hover {
      color: vars.$text-color;
    }
  }

  i {
    &.tool {
      width: fit-content;
      display: inline;
      position: absolute;
      top: 0;
      color: vars.$primary-color;
      cursor: pointer;
      // To ensure that icon always clickable
      z-index: 1;
    }
    
    &.right {
      right: 0;
      padding: 1em 1em 0 0;
    }

    &.left {
      left: 0;
      padding: 1em 0 0 1em;
    }

    &.flipped {
      color: vars.$background-color;
    }
  }
}

.cardContent {
  height: 100%;
  opacity: 0;

  &.visible {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: opacity .3s linear; 
    opacity: 1;
  }
}

.verso {
  height: 100%;
  opacity: 0;
  text-align: center;
  transform: translate(0, -100%);

  .text {
    margin: auto 2em;
    width: 100%;
  }
  
  &.visible{
    display: flex;
    align-items: center;
    border: vars.$dark-color solid 2px;
    border-radius: .3rem;
    background-color: vars.$text-color;
    color: vars.$background-color;
    transition: opacity .3s linear; 
    opacity: 0.7;
  }
}

.theme {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: -1em;

  li {
    margin-bottom: 1em;

    &.btn {
      padding: calc(0.438rem - 1px) calc(0.75rem - 1px);
    }

    &.active {
      background-color: vars.$primary-color;

      a {
        color: vars.$background-color;
      }
    }
  }
}

.rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;

  span {
    display: block;
  }

  .checked {
    color: vars.$primary-color;
  }
}
