@use '../../styles/vars';

section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  height: calc(80vh - 2em);
}

h2 {
  font-size: large;
  font-weight: 600;
  text-align: center;
  padding-bottom: 1em;
}

.carouselContainer {
  height: 50vh;
  width: 35%;
  padding: 1em;
  border: 1mm solid vars.$text-color;
  border-radius: .25rem;
  color: vars.$background-color;
  background-color: vars.$fade-color;
  box-shadow: white 0 0 3px 3px;
}

.slick-slider {
  height: calc(100% - 2em);
  background-color: vars.$background-color;
}

.slick-list,
.slick-track,
.slick-slide,
.slick-slide div {
  height: 100%;
}
