{% extends "base.html.twig" %}

{% block title %} - Backoffice{% endblock %}

{% block subnav %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Backoffice</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a 
            {% if app.request.get('_route') starts with 'backoffice_soundboard_' %}
              class="nav-link active" aria-current="page"
            {% else %}
              class="nav-link"  href="{{ url('backoffice_soundboard_browse') }}"
            {% endif %}
            >Soundboard
          </a>
          <a 
            {% if app.request.get('_route') starts with 'backoffice_sound_' %}
              class="nav-link active" aria-current="page"
            {% else %}
              class="nav-link"  href="{{ url('backoffice_sound_browse') }}"
            {% endif %}
            >Son
          </a>
          <a 
            {% if app.request.get('_route') starts with 'backoffice_tag_' %}
              class="nav-link active" aria-current="page"
            {% else %}
              class="nav-link"  href="{{ url('backoffice_tag_browse') }}"
            {% endif %}
            >Tag
          </a>
          <a 
            {% if app.request.get('_route') starts with 'backoffice_user_' %}
              class="nav-link active" aria-current="page"
            {% else %}
              class="nav-link"  href="{{ url('backoffice_user_browse') }}"
            {% endif %}
            >Utilisateur
          </a>
        </li>
      </ul>
      {% block backoffice_menu %}
      {% endblock %}
    </div>
  </div>
</nav>

{% endblock %}